<html>
<head>
<title>Bank Global Access System</title>
<link href="home1.css.scss" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
    span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
        span.reference a{
            color:#555;
            text-decoration:none;
            text-transform:uppercase;
        }
        span.reference a:hover{
            color:#000;
            
        }
        h1{
            color:#ccc;
            font-size:36px;
            text-shadow:1px 1px 1px #fff;
            padding:20px;
        }
</style>

<body>
<div id="img11">
    <div id="img21">
        <div id="title">
            <h1><a href="#" target="_parent">
                    <img src="templatemo_logo.png" alt="Bank Global Access System" />
            </a></h1>
        </div>
    </div> 

</div> 

<div id="img31">
      <div id="img41">
         <div id="img51">
         </div>
         </div>
</div> 

<div id="img61">

    <div id="img71">
    <h1>Displaying the details</h1>
    </div> 

</div> 

<div id="img81">
<br>
<br>
<br>
<div id="r">
<td><%= link_to 'Contact Details',contacts_path %></td> <br><br>
<td><%= link_to 'Transaction Details',transactions_path %></td><br><br>
<td><%= link_to 'Bank Details',banks_path %></td></div>
<br>
<br>
<br />

</div> <!-- end of Content Design -->
<div id="img91"></div>

<div id="templatemo_footer">
</div> <!-- end of footer -->

</body>
</html>
<style type="text/css">
    #r{
        font-size: 20px;
        color: blue
        align :left;

    }
</style>
