<html>
<head>
<title>Bank Global Access System</title>
<link href="comman.css.scss" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="mlogin.css.scss">

<style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>
</head>
<body>
<div id="img1">
    <div id="img2">
        <div id="title">
            <h1><a href="#" target="_parent">
                    <img src="templatemo_logo.png" alt="Bank Global Access System" />
            </a></h1>
        </div>
    </div> 

</div>
<div id="img3">
      <div id="img4">
         <div id="img5">
         </div>
         </div>
</div> 

<div id="img6">

    <div id="img7">
    
    </div> 

</div> 

<div id="img81">
<br />
<br>
<br>

<h2 style="align : center; ">SucceessFully Transfer</h2><br><br>
<td><%= link_to 'Click To New Transaction', new_transaction_path %></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<br>
<br />
<br />

</div> 
<div id="img9"></div>

<div id="templatemo_footer">
  
</div> 

</body>
</html>
